@using EducationalSystem.Entities;
@model User

<body class="bg-success bg-opacity-50">

<div class="container mt-5 col-lg-4 border border-4 rounded bg-light">
    <div class="signin-form">
         <h2 class="text-center py-2">Sign In Form</h2>
     <form asp-controller="Authentication" asp-action="UserCheck" method="post">
          <div class="mb-3">
              <label asp-for="@Model.Email" class="form-label">Email address</label>
              <input type="email" class="form-control" asp-for="@Model.Email" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
               <label asp-for="@Model.Password" class="form-label">Password</label>
               <input type="password" class="form-control" asp-for="@Model.Password">
          </div>
          <div>dont have account?
              <a asp-controller="Authentication" asp-action="Register" target=_blank>Sign Up</a>
          </div>
          <div class="d-grid gap-3 my-3">
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
     </form>
    </div>
</div>

</body>