@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

@using EducationalSystem.Entities;
@model Teacher

<body class= "bg-secondary bg-opacity-25">


<div class="text-center">
    <h1 class="display-4">Hello @Model.FirstName</h1>
</div>

</body>