@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml"; 
}

@using EducationalSystem.Entities
@model List<StudentCourse>


<div class="contaniner mt-5">
    <h2>@ViewBag.StudentNames courses:</h2>
   <table class="table table-striped table-hover table-bordered table-sm">
    <thead>
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var course in Model)
            {
                 <tr>
                     <td>@course.Course.Id</td>
                     <td>@course.Course.Name</td>
                     <td>@course.Grade</td>
                 </tr>
            }
    </tbody>
  </table>
</div>